<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yh.actmanager">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <permission
        android:name="${APPLICATION_ID}.permissions.act_process"
        android:protectionLevel="signature" />

    <uses-permission android:name="${APPLICATION_ID}.permissions.act_process" />

</manifest>
